@charset "utf-8";
body{font-size:16px;line-height:25px;font-family: 'Raleway', sans-serif;font-weight: 400;color: #464646;}
a{color#0b85b8;outline:none;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
a:hover,a:active,a:focus{outline:none;text-decoration: none;color: #0aa7e9;}
.embed .video,audio{display:block;margin-bottom:15px;}
blockquote{background:#f8f8f8;font-style:italic;font-size:14px;font-weight:normal;border:1px solid #e5e5e5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:10px 20px 10px 45px;margin-bottom:10px;position:relative;}
blockquote:before{content:"\f10d";font-family:'FontAwesome';position:absolute;left:10px;top:2px;color:#888;font-style:italic;font-size:22px;}
p{margin: 0 0 15px 0;}
ul{list-style: none;padding: 0;margin: 0;}
h1,h2,h3,h4,h5,h6{color: #0b85b8;font-weight: 400;margin: 0 0 20px 0;}
h1{font-size: 40px;margin-bottom: 40px;}
h2{font-size: 36px;}
h3{font-size: 32px;}
h4,h5,h6{font-size: 28px;}

.button{display: inline-block;color: #fff;font-size: 20px;font-family: 'Raleway', sans-serif;text-transform: uppercase;padding: 18px 35px;background-color: #0b85b8;}
.button:hover{background-color: #0e99d3;color: #fff;}

*{box-sizing: border-box;}
*:after,*:before{box-sizing: border-box;}

.logo-list,.philo-inner,.feed-inner ul li,.f-contact,.f-menu ul,#header .book,#menu ul,#logo{text-align: center;}
.h-title{text-align: center;position: relative;line-height: 104px;}
.h-title:after{content: "";position: absolute;bottom: 0;left: 50%;margin: 0 0 0 -50px;width: 100px;height: 3px;background-color: #0b85b8;}

/* Header */
#header{background-color: #0b85b8;color: #fff;}
#header a{color: #fff;}
#header .container{position: relative;}
#logo{padding: 67px 0 20px;}
#header .book{position: absolute;text-transform: uppercase;font-weight: 700;color: #0b85b8;right: 4px;top: 0;width: 225px;}
#header .book span,#header .book a{color: #0b85b8;background-color: #fff;padding: 40px 16px 17px;display: block;-webkit-border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;font-size: 24px;line-height: 30px;-moz-box-shadow: 4px 4px #075373;-webkit-box-shadow: 4px 4px #075373;box-shadow: 4px 4px #075373;}
.top-social a{display: inline-block;margin-right: 8px;background-color: #fff;color: #0b85b8 !important;width: 25px;height: 25px;vertical-align: middle;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;text-align: center;}
.top-social a:hover{background-color: #0d8fc5;}
.top-social{position: absolute;right: 0;bottom: -55px;z-index: 1000;}
.bg-header{padding-bottom: 40px;}
#sliders .bg-header{background: url(../images/bg-header.png) no-repeat 0 0 / 100% auto;width: 100%;position: absolute;top: 0;left: 0;z-index: 999;padding-bottom: 0;}
.bg-header img{width: 100%;height: auto;}
#topbar{background-color: #0b85b8;display: none;}
#topbar .container{position: relative;}
#topbar a{color: #fff;font-size: 30px;cursor: pointer;position: absolute;left: 8px;top: 3px;z-index: 1000;}

/* Menu */
#menu{padding-bottom: 14px;}
.f-menu ul li,#menu ul li{display: inline-block;margin-right: -4px;font-size: 15px;padding: 0 17px;text-transform: uppercase;vertical-align: top;}
.f-menu ul li.active a,#menu ul li.active a,#menu ul li a:hover{font-weight: 700;}
.f-menu ul li a{color: #464646;}
.f-menu ul li.active a,.f-menu ul li a:hover{color: #0b85b8;}
.s-menu{border-right: 1px solid #ccc;padding-bottom: 130px;}
.s-menu a{color: #464646;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.s-menu a.opened,.s-menu a.active,.s-menu a:hover{font-weight: 500;}
.s-menu li{padding: 0 0 9px 15px;position: relative;}
.s-menu li li{padding-bottom: 20px;text-transform: uppercase;}
.s-menu li ul{padding: 22px 0 5px 0;display: none;}
.s-menu li li a.active{color: #0b85b8;}
.s-menu .has-child:before{left:0;top:10px;content: "";width: 7px;height: 7px;position: absolute;background-color: #0b85b8;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.mm-listview li{display: block !important;margin-right: 0 !important;text-align: left;}
.mm-listview li a{padding-left: 0;padding-right: 0;}

/* Footer */
#footer{padding: 74px 0 64px;}
.f-contact{line-height: 21px;padding-top: 91px;font-size: 15px;}
.f-contact strong{font-weight: 600;}

/* Slider */
#sliders{position: relative;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.scroll-down{position: absolute;bottom: 0;left: 0;width: 100%;z-index:900;text-align: center;}
.scroll-down a{cursor:pointer;display:inline-block;width:57px;height:57px;background:url('../images/arrow-down.png') no-repeat center;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s;-webkit-animation-name:jump;-moz-animation-name:jump;-o-animation-name:jump;-ms-animation-name:jump;animation-name:jump;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:normal;-moz-animation-direction:normal;-o-animation-direction:normal;-ms-animation-direction:normal;animation-direction:normal;-webkit-animation-duration:2s;-moz-animation-duration:2s;-o-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s}
.scroll-down a:hover{-webkit-animation-name:none;-moz-animation-name:none;-o-animation-name:none;-ms-animation-name:none;animation-name:none;}
@-moz-keyframes jump{0{-moz-transform:translateY(0);transform:translateY(0)}20%{-moz-transform:translateY(-30px);transform:translateY(-30px)}50%{-moz-transform:translateY(0);transform:translateY(0)}70%{-moz-transform:translateY(-30px);transform:translateY(-30px)}}
@-webkit-keyframes jump{0{-webkit-transform:translateY(0);transform:translateY(0)}20%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}50%{-webkit-transform:translateY(0);transform:translateY(0)}70%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}}
@-o-keyframes jump{0{-o-transform:translateY(0);transform:translateY(0)}20%{-o-transform:translateY(-30px);transform:translateY(-30px)}50%{-o-transform:translateY(0);transform:translateY(0)}70%{-o-transform:translateY(-30px);transform:translateY(-30px)}}@-ms-keyframes jump{0{-ms-transform:translateY(0);transform:translateY(0)}20%{-ms-transform:translateY(-30px);transform:translateY(-30px)}50%{-ms-transform:translateY(0);transform:translateY(0)}70%{-ms-transform:translateY(-30px);transform:translateY(-30px)}}@keyframes jump{0{transform:translateY(0)}20%{transform:translateY(-30px)}50%{transform:translateY(0)}70%{transform:translateY(-30px)}}
.flexslider{overflow: hidden;position: relative;}
.flexslider ul li img{width: 100%;height: auto;}
.slide-nav{position: absolute;top: 50%;width: 100%;z-index: 5;}
.slide-nav a{display: block;position: absolute;background: url(../images/arrow-next.png) no-repeat 0 0 / 100% auto;width: 87px;height: 127px;top:50%;margin-top: -63px;z-index: 10;cursor: pointer;}
.slide-prev{left: 0;transform: rotate(180deg);-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.slide-next{right: 0;}
.slide-nav a:hover{opacity: 0.75;}
#sliders:hover .slide-prev{left: 50px;}
#sliders:hover .slide-next{right: 50px;}
.btnslider{display: block;position: absolute;bottom: 70px;right: 0;font-size: 42px;color: #fff;border: 1px solid #fff;padding: 17px 55px 11px;text-align: center;}
.btnslider:hover{color: #fff;}
.flexslider ul li .slide-content{height: 100%;position: absolute;width: 100%;left: 0;top: 0;}
.flexslider ul li .slide-content .container{margin: 0 auto;height: 100%;position: relative;}
.btnslider span{font-size: 18px;text-transform: uppercase;display: block;padding: 16px 0 0 0;}

/* Home page */
.we{display: inline-block;width: 121px;height: 130px;position: relative;}
.we:after{content: "";width: 121px;height: 130px;background-image: url(../images/icons.png);background-repeat: no-repeat;position: absolute;left: 0;top: 0;}
.we-skill:after{background-position: 0 0;}
.we-avail:after{background-position: -121px 0;}
.we-honest:after{background-position: 0 -130px;}
.we-affor:after{background-position: -121px -130px;}
.dental-inner{padding-bottom: 127px;}
.dental-inner .h-title{color: #20bba5;margin-top: 74px;margin-bottom: 30px;}
.dental-inner .h-title:after{background-color: #20bba5;}
.we-lead{line-height: 36px;padding-bottom: 47px;}
.we-lead strong{font-size: 24px;display: block;font-weight: 400;}
.we-lead span{display: block;font-size: 16px;}
.dental-list{margin-right: -10px !important;margin-left: -10px !important;}
.dental-list p{font-weight: 600;text-align: justify;}
.dental-list h3{color: #20bba5;font-weight: 600;margin-top: 39px;}
.dental-list .col-md-3{padding-left: 10px !important;padding-right: 10px !important;}
#feedback{background: url(../images/img-feedback.jpg) no-repeat center top / 100% 280px;min-height: 280px;padding-top: 93px;}
.feed-inner ul li{font-size: 30px;line-height: 46px;}
#philosophy{background-color: #0b85b8;color: #fff;padding: 65px 0 145px 0;}
.philo-inner .h-title{font-size: 40px;color: #fff;margin-bottom: 48px;}
.philo-inner .h-title:after{background-color: #fff;}
.philo-inner .image{margin: 0 auto;width: 100%;max-width: 774px;position: relative;}
.philo-inner .image div{filter: alpha(opacity=0);opacity: 0;position: absolute;left: 0;top: 90px;text-align: center;width: 100%;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.philo-inner .image img{width: 100%;max-width: 774px;height: auto;-moz-box-shadow: 0 0 20px #888;-webkit-box-shadow: 0 0 20px #888;box-shadow: 0 0 20px #888;}
.philo-inner .image .overlay{position: absolute;width: 100%;height: 100%;background-color: #000;color: #fff;filter: alpha(opacity=0);opacity: 0;padding: 0 !important;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.philo-inner .image span{display: block;font-size: 12px;text-transform: uppercase;padding-top: 14px;}
.philo-inner .image .ttl{font-size: 24px;padding: 0 0 30px 0;}
.philo-inner .image a{width: 87px;height: 87px;display: inline-block;text-align: center;color: #fcca1e;border: 4px solid #fff;-webkit-border-radius: 43px;-moz-border-radius: 43px;border-radius: 43px;font-size: 40px;line-height: 81px;padding-left: 3px;}
.philo-inner .image:hover .overlay{filter: alpha(opacity=40);opacity: 0.4;}
.philo-inner .image:hover div{top: 143px;filter: alpha(opacity=100);opacity: 1;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

/* Content */
.title-page{text-align: center;font-weight: 300;margin: 62px 0 42px 0;}
.title{text-align: center;}
.head{font-size: 24px;text-align: center;line-height: 35px;margin: 0 0 25px;}
.decrs{text-align: center;padding-bottom: 66px;}
#main-inner{padding: 23px 0 0 0;}
#main .col-md-3{padding-right: 23px !important;width: 28%;}
#main .col-md-9{width: 72%;padding-left: 23px !important;}
.line{position: relative;height: 2px;margin-bottom: 17px;}
.line:after{content: "";position: absolute;top:0;left: 50%;width: 56px;height: 2px;background-color: #464646;margin-left: -28px;}
.logo-list{padding: 55px 0 84px 0;}
.logo-list li{display: inline-block;vertical-align: middle;text-align: center;margin: 0 26px 76px 30px;min-width: 210px;}

#office{background-color: #f1f2f2;font-size: 18px;line-height: 22px;padding: 48px 0 75px;}
#office .row{padding: 0 90px;}
#office .col-md-4{padding-left: 30px !important;padding-right: 30px !important;}
#office h2{text-align: center;font-size: 40px;color: #464646;margin-bottom: 62px;}
#office img{width: 100%;height: auto;-webkit-border-radius:50%;-moz-border-radius: 50%;border-radius: 50%;max-width: 201px;}
#office h3{display: block;font-size: 20px;font-weight: 700;color: #12a7cf;text-transform: uppercase;margin:36px 0 10px;}
#office h3 a{color: #12a7cf;}
#office span{display: block;padding-bottom: 6px;}
#office .map-detail{display: none;}

.location{padding: 14px 0 90px;}
.location h3{text-transform: uppercase;color: #12a7cf;font-size: 20px;margin: 0 0 23px;font-weight: 700;}
.location h4{font-size: 14px;color: #898989;margin: 0 0 5px;font-weight: 700;}
.location .addr{font-size: 18px;padding: 0 20px 7px 0;}
.location .addr span{display: block;padding-bottom: 4px;}
.map img{width: 100%;}
#gmap{width: 100%;height: 222px;margin-bottom: 15px;}
.team-list li{padding-bottom: 8px;}
.team-list li a{display: block;text-transform: uppercase;color: #464646;}
.team-list li .active,.team-list li a:hover{color: #0b85b8;}
.location .hour{color: #898989;font-size: 14px;line-height: 23px;}
.team-other{width: 135px;margin-left: 111px;float: left;}
.team-other ul li{font-size: 0;line-height: 1px;padding-bottom: 20px;}
.team-other ul li img{width: 100%;height: auto;-webkit-border-radius:50%;-moz-border-radius: 50%;border-radius: 50%;}
.team-detail{float: left;width: 424px;}
.team-detail .picture img{width: 100%;height: auto;max-width: 424px;}
.team-detail h2{font-size: 25px;text-transform: uppercase;color: #0b85b8;text-align: center;padding: 30px 0 15px;}
.team-detail h2 span{font-size: 15px;color: #464646;display: block;text-transform: none;padding: 7px 0 0 0;}
.team-detail ul{padding-bottom: 13px;list-style: disc;padding-left: 20px;margin-left: -6px;}
.team-detail ul li{font-size: 15px;line-height: 19px;}
.team-detail .detail p{text-align: justify;}

#testimonial{background: url(../images/img-testimonial.jpg) no-repeat 0 0 / 100% 100%;min-height: 300px;margin: 65px 0 84px;padding-bottom: 20px;}
.testimonial{text-align: center;padding: 25px 0 0 0;font-size: 18px;line-height: 30px;}
.testimonial .bx-wrapper{padding-top: 10px;}
.testimonial .we{width: 98px;height: 92px;}
.testimonial .we:after{width: 98px;height: 92px;background: url(../images/notice.png) no-repeat 0 0;}
.testimonial ul li span{display: block;padding-top: 8px;}

.commitment{text-align: center;}
.commitment .title{margin: 25px 0 22px;}
.commitment ol{list-style: none;padding: 0;}
.commitment ol li{padding-bottom: 12px;}
.commitment ol li span{display: inline-block;height: 25px;width: 25px;line-height: 20px;border: 1px solid #464646;-webkit-border-radius: 50%;-moz-border-radius:50%;border-radius:50%;margin-bottom: 9px;}
#steps .title{margin-bottom: 23px;}

#cornerstone{margin: 0 0 112px;}
.cornerstone{margin-bottom: 90px;}
.cornerstone .we{width: 128px;height: 113px;}
.cornerstone .we:after{width: 128px;height: 113px;background-image: url(../images/icons-1.png);}
.we-drive:after{background-position: 0 0;}
.we-quality:after{background-position: 0 -113px;}
.we-exper:after{background-position: -128px 0;}
.we-culture:after{background-position: -128px -113px;}
.cornerstone h3{font-weight: 500;font-size: 16px;color: #464646;text-transform: uppercase;line-height: 24px;margin: 16px 0 25px;}
.cornerstone p{margin-bottom: 25px;}

.blocks{margin: 0 -4px;}
.blocks .ite{padding: 0 4px;}
.blocks .ite-inner{padding: 30px;background-color: #e1e1e1;line-height: 20px;min-height: 420px;}
.blocks .ite-inner.gray{background-color: #e1e1e1;}
.blocks .ite-inner.blue{background-color: #e1f0f6;}
.blocks .ite-inner h2{font-size: 29px;margin: 7px 0 23px;text-align: center;}
.blocks .ite-inner p{padding: 0 0 0 15px;}
.blocks .ite-inner ul{list-style: disc;padding-left: 15px;}
.blocks .ite-inner ul li{padding-bottom: 20px;}
.blocks .ite-inner ul li:last-child{padding-bottom: 0;}

.care{margin: 0 -10px 117px;}
.care-inner{padding: 0 10px;margin-bottom: 20px;}
.care-inner div{padding: 18px;border: 3px solid #c7c5c5;min-height: 225px;}
.care-inner h3{font-size: 18px;text-transform: uppercase;font-weight: 500;margin: 3px 0 23px;}
.care-inner p{font-size: 14px;margin-bottom: 9px;}
.care-inner p span{padding-left: 8px;color: #0b85b8;}

.benefit{margin: 60px 0 57px 0;}
.benefit .title{margin: 0 0 20px;}
.benefit .fit{display: inline-block;float: none;margin-right: -4px;}
.benefit .fit ul{text-align: left;list-style: disc;}
.benefit .fit ul li{padding: 0 0 20px;}


