@media only screen and (max-width: 1199px){
    body:before{display: none;}
    .team-other{margin-left: 95px;}
    #topbar{display: block;}
    #header{position: static !important;}
    #header #menu{display: none;}
    #logo{float: none;text-align: center;width: auto;}
}

@media only screen and (max-width: 991px) {
    #main .col-md-9,#main .col-md-3{width: 100%;}
    .s-menu{border: none;}
    .top-social{bottom: -40px;}
    .slide-nav a{width: 60px;height: 88px;margin-top: -30px;}
    #office .row{padding: 0;text-align: center;}
    #office .col-md-4{margin-bottom: 40px;text-align: left;float: none;display: inline-block;margin-right: -4px;}
    #main .col-md-9{padding-left: 15px !important;}
    .btnslider{font-size: 30px;padding: 17px 30px 11px;bottom: 40px;right: 15px;}
    .btnslider span{font-size: 16px;}
    .btnslider span{padding-top: 10px;}
    .blocks .ite{margin-bottom: 30px;}
    .blocks .ite-inner{min-height: inherit;}
}

@media only screen and (max-width: 767px) {
    .team-other,.team-detail{float: none;margin: 0;width: 100%;}
    .team-detail{margin-bottom: 60px;}
    .team-other ul,.team-detail .picture{text-align: center;}
    .team-other ul li{display: inline-block;margin: 0 11px 0 15px;vertical-align: middle;width: 29%;max-width: 135px;}
    .top-social{bottom: -10px;}
    #header .book span, #header .book a{padding: 8px 10px;font-size: 18px;}
    #header .book{width: 292px;}
    .slide-nav a{width: 40px;height: 60px;margin-top: -20px;}
    .logo-list li{margin: 0 10px 76px;}
    .dental-list .col-md-3{display: inline-block;float: none;margin-right: -4px;vertical-align: top;}
    .btnslider{font-size: 25px;padding: 10px 15px 5px;bottom: 20px;right: 15px;}
    .btnslider span{font-size: 12px;}
    .btnslider span{padding-top: 0;}
    .testimonial{font-size: 16px;line-height: 26px;}
    .image-text{text-align: center;padding-left: 0;}
    .image-text img,.image-text .it-content{width: auto;}
    .image-text .it-content{padding-left: 0;padding-top: 25px;}
}

@media only screen and (max-width: 600px) {
    .philo-inner .image:hover div{top:100px;}
    #feedback{padding-top: 70px;}
}

@media only screen and (max-width: 500px) {
    .team-other ul, .team-detail .picture img{width: 100%;}
    .philo-inner .image:hover div{top:60px;}
}

@media only screen and (max-width: 480px) {
    .cornerstone .col{width: 100%;margin-bottom: 30px;}
}

@media only screen and (min-width: 640px) {
    .review-item .info{padding: 0 0 18px 0;}
    .review-item{position: relative;}
    .review-item .r-date{position: absolute;margin: 0;right: 13px;top:10px;padding: 0;}
}