hr {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 5.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


br {
	display: block;
   	margin: 10px 0;
}

.tag a {
	border: 1px solid #000;
}
